.nav {
	background: #86969c;
	display: flex;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
}
.main-nav,
.secondary-nav{
display: flex;
list-style: none;
padding: 0;
}
.main-nav li,
.secondary-nav li{

	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
}